---
import { ViewTransitions } from 'astro:transitions'
import MetaTags from '@layouts/MetaTags.astro';

import '@styles/typography.scss';
import '@styles/global.scss';
import '@styles/colors.scss';
import '@styles/media-queries.scss';

interface Props {
	title?: string;
	description?: string;
  keywords?: string;
	customSchemaJson?: any;
	breadcrumbs?: Array<{
		name: string;
		item: string;
	}>
}

---

<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<ViewTransitions />
		<MetaTags {...Astro.props } />
    <slot name="head" />
		<link href="/fonts/Hubot-Sans/Hubot-Sans.woff2"
			as="font"
			rel="preload"
			type="font/woff2"
			crossorigin="anonymous"
			>
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3811349067654166"
                        crossorigin="anonymous"></script>
                <!-- Google tag (gtag.js) -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=G-BLGFK9Y60M"></script>
                <script is:inline>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', 'G-BLGFK9Y60M');
                </script>
	</head>
	<body>
		<slot />
	</body>
</html>
